@model eMandates.Merchant.Library.CancellationResponse

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div>
    <hr />

    @if (Model.IsError)
    {
        <div class="alert alert-danger" role="alert">
            <div class="row">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Error performing transaction request: <br />
                @if (!string.IsNullOrEmpty(Model.Error.ErrorCode))
                {
                    <text>Code: @Model.Error.ErrorCode<br /></text>
                }
                @if (!string.IsNullOrEmpty(Model.Error.ErrorMessage))
                {
                    <text>Message: @Model.Error.ErrorMessage<br /></text>
                }
                @if (!string.IsNullOrEmpty(Model.Error.ErrorDetails))
                {
                    <text>Details: @Model.Error.ErrorDetails<br /></text>
                }
                @if (!string.IsNullOrEmpty(Model.Error.ConsumerMessage))
                {
                    <text>Consumer message: @Model.Error.ConsumerMessage<br /></text>
                }
                @if (!string.IsNullOrEmpty(Model.Error.SuggestedAction))
                {
                    <text>Code: @Model.Error.SuggestedAction<br /></text>
                }
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm("Status", "Products", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            <div class="container">
                <div class="form-group row">
                    <div class="col-4">
                        @Html.LabelFor(m => m.TransactionId)
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(m => m.TransactionCreateDateTimestamp)
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(m => m.IssuerAuthenticationUrl)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.TransactionId, new { @class = "form-control", @readonly = "", id = "Status.TransactionId", Name = "Status.TransactionId" })
                        <input type="hidden" value="@Model.TransactionId" name="Source.TransactionId" />
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.TransactionCreateDateTimestamp, new { @class = "form-control", @readonly = "" })
                    </div>
                    <div class="col-4">
                        @Html.DisplayTextFor(m => m.IssuerAuthenticationUrl)
                    </div>
                </div>
                <hr />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Get status</button>
            </div>

            <hr />
        }
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
