@model IEnumerable<eMandates.Merchant.Website.Models.ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products list</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Price)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        @*<td>
            €@Html.DisplayFor(modelItem => item.Price)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Buy", "Buy", new { id=item.Id })
        </td>
    </tr>
}

</table>
