@model eMandates.Merchant.Website.Models.NewMandateRequestViewModel
@using eMandates.Merchant.Library.Configuration

@{
    ViewBag.Title = "Transaction";
}

<h2>Transaction</h2>

<div>
    <hr />

    @using (Html.BeginForm("NewMandateResult", "Products", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
    <div class="container">
        <p class="help-block row">Transaction information</p>
        <div class="form-group row">
            <div class="col-3">
                @Html.LabelFor(m => m.Source.EntranceCode)
                @Html.TextBoxFor(m => m.Source.EntranceCode, new { @class = "form-control" })
            </div>
            <div class="col-3">
                @Html.LabelFor(m => m.Source.ExpirationPeriod)
                @Html.TextBoxFor(m => m.Source.ExpirationPeriod, new { @class = "form-control" })
            </div>
            <div class="col-3">
                @Html.LabelFor(m => m.Source.Language)
                @Html.DropDownListFor(m => m.Source.Language, new SelectList(new[] { "en", "nl", "ro", "it" }, "en"), new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <p class="help-block row">eMandate information</p>
        <div class="form-group row">
            <div class="col-2">
                @Html.LabelFor(m => m.Source.DebtorBankId)
                @Html.TextBoxFor(m => m.Source.DebtorBankId, new { @class = "form-control" })
            </div>
            <div class="col-2">
                @Html.LabelFor(m => m.Source.DebtorReference)
                @Html.TextBoxFor(m => m.Source.DebtorReference, new { @class = "form-control" })
            </div>
            <div class="col-3">
                @Html.LabelFor(m => m.Source.EMandateId)
                @Html.TextBoxFor(m => m.Source.EMandateId, new { @class = "form-control" })
            </div>
            <div class="col-2">
                @Html.LabelFor(m => m.Source.MessageId)
                @Html.TextBoxFor(m => m.Source.MessageId, new { @class = "form-control" })
            </div>
            <div class="col-2">
                @Html.LabelFor(m => m.Source.MaxAmount)
                @Html.TextBoxFor(m => m.Source.MaxAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                @Html.LabelFor(m => m.Source.SequenceType)
                @Html.DropDownListFor(m => m.Source.SequenceType, new SelectList(new[] { "OOFF", "RCUR" }), new { @class = "form-control" })
            </div>
            <div class="col-3">
                @Html.LabelFor(m => m.Source.EMandateReason)
                @Html.TextBoxFor(m => m.Source.EMandateReason, new { @class = "form-control" })
            </div>
            <div class="col-3">
                @Html.LabelFor(m => m.Source.PurchaseId)
                @Html.TextBoxFor(m => m.Source.PurchaseId, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                @Html.LabelFor(m => m.Instrumentation)
                @foreach (var o in Enum.GetValues(typeof(Instrumentation)).Cast<Instrumentation>())
                {
                    <p>
                        @Html.RadioButtonFor(m => m.Instrumentation, o.ToString())@o.ToString()
                    </p>
                }
            </div>
        </div>
        <hr />
        
    </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">New eMandate</button>
        </div>
    }
</div>